link2obs/BCGcands0222_940.bin
link2obs/BCG_eFEDS.fits
link2obs/catCluster-SPIDERS_RASS_CLUS-v2.0.fits
link2obs/catCluster-SPIDERS_RASS_CLUS-v3.0.fits
link2obs/decals_dr8_run_32_efeds_extendedSourceCatalog_mllist_ph_22_11_2019_v940_redmapper_v0.6.2_lambda_chisq_catalog_with_spectroscopy.fit
link2obs/distance_shearsel_xray.txt
link2obs/eFEDS_properties_18_3_2020.fits
link2obs/eRASS/
link2obs/MD10_eRO_CLU_b10_CM_0_pixS_20.0.fits
link2obs/MD40_eRO_CLU_b8_CM_0_pixS_20.0.fits
link2obs/SpidersXclusterBCGs-v2.0.fits
